{% extends "base.html" %}
{% block title %}Balance{% endblock %}
{% block js %} 
<script type="text/javascript" src="static/js/balance.js"></script>
<script type="text/javascript">
participantId = {{ participant.id }};
$(function() {
    render();
    load();
}) 
</script>
{% endblock %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="static/css/balance.css" />
{% endblock %}
{% block body %}
<div id="balance" class="ui-widget-content ui-corner-all app-dialog">
    <h3 id="title" class="ui-widget-header ui-corner-all"></h3>
    <div id="tendancy">
        <div id="participantAmount"></div>
        <button id="addExpense">+</button>
        <img id="tendancy-img" src="" />
    </div>
    <h3 id="amount" class="ui-widget-header ui-corner-all bottom"></h3>
</div>

<div id="expense" class="ui-widget-content ui-corner-all app-dialog" style="display:none">
    <h3 id="title" class="ui-widget-header ui-corner-all">Add Expense</h3>
    <div id="expense_detail">
        <fieldset>
            <label for="expense_type">Expense Type :</label>
            <select id="expense_type"></select>
            
            <label for="participants">Participants :</label>
            <ul class="scroller">
            </ul>
            
            <label for="expense_amount">Amount :</label>
            <input type="text" id="expense_amount" name="expense_amount" />
            
            <br/>
        </fieldset> 
    </div>
    <button id="sendExpense">OK</button>
    <button id="back">Back</button>
</div>
{% endblock %}
