{% extends "base.html" %}
{% block title %}Balance{% endblock %}
{% block js %} 
<script type="text/javascript">
    $(function() {
        
        
    })
</script>
{% endblock %}
{% block css %} 
<style>
        .toggler { width: 500px; height: 700px; position: relative; }
        #button { padding: .5em 1em; text-decoration: none; }
        #effect { width: 240px; height: 500px; padding: 0.4em; position: relative; background: #fff; }
        #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
</style>
{% endblock %}
{% block body %}
<div class="toggler">
    <div id="effect" class="ui-widget-content ui-corner-all">
        <h3 class="ui-widget-header ui-corner-all">Balance</h3>
        <p>
            Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
        </p>
    </div>
</div>
{% endblock %}