<!DOCTYPE html>
<html>
  <head>
    <title>Short Debts Make Long Friend: {% block title %}Index{% endblock %}</title>
    <script type="text/javascript" src="static/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    
    {% block js %}{% endblock %}
    
    <link rel="stylesheet" type="text/css" href="static/css/ui-darkness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="static/css/app.css" />
    
    {% block css %}{% endblock %}
    
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>