{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block js %}    
<script type="text/javascript">
    $(function() {
        $('#dialog').dialog({draggable: false, resizable: false, width: '50%', height: 200});
    })
</script>
{% endblock %}
{% block body %}
<div id="dialog" title="Short Debts Make Long Friends">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
{% endblock %}