{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block js %} 
<script type="text/javascript">
    $(function() {
        $('#dialog').dialog({
            draggable: false, 
            resizable: false, 
            width: '50%',
            buttons: {
                "Login": function() { 
                    var username = $('#email').val();
                    var password = $('#password').val();
                    
                    $.ajax({
                        url: '/rest/authenticate',
                        type: 'POST',
                        data: $.toJSON({'username':username, 'password':password}),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function() {
                            document.location.href = getUrlVars()['next'];
                        }
                    });
                }
            }
        });
        
    })
</script>
{% endblock %}
{% block body %}
<div id="dialog" title="Login">
    <form>
        <fieldset>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>
{% endblock %}